In [2]:
import preprocessingFuncts as pp
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<h3>Reading the ratings data</h3>
Returns a pandas data frame with cleaned data from u.data

In [3]:
ratings = pp.readRatingData()
ratings = ratings.sort_values(by=['user_id','item_id']).reset_index().drop('index',axis=1)
ratings

       user_id  item_id  rating
0            1        1       5
1            1        2       3
2            1        3       4
3            1        4       3
4            1        5       3
...        ...      ...     ...
99995      943     1067       2
99996      943     1074       4
99997      943     1188       3
99998      943     1228       3
99999      943     1330       3

[100000 rows x 3 columns]

<h3>Reading the item data</h3>
Returns a pandas data frame with cleaned data from u.item (no title, sry, thought it's not important)

In [4]:
items = pp.readItemData()
items = items.sort_values(by=['year','item_id']).reset_index().drop('index',axis=1)
items = items.dropna()

<h3>Reading the user data</h3>
Returns a pandas data frame with cleaned data from u.user. Occupation and gender column's contents are now nominal.

In [5]:
users = pp.readUserData()
users = users.sort_values(by=['user_id','age']).reset_index().drop('index',axis=1)
users

     user_id  age  gender  occupation zip_code age_category
0          1   24       1          19    85711            2
1          2   53       0          13    94043            5
2          3   23       1          20    32067            2
3          4   24       1          19    43537            2
4          5   33       0          13    15213            3
..       ...  ...     ...         ...      ...          ...
938      939   26       0          18    33319            2
939      940   32       1           0    02215            3
940      941   20       1          18    97229            1
941      942   48       0          10    78209            4
942      943   22       1          18    77841            2

[943 rows x 6 columns]